@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/*  */
.container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}

.primary-btn {
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  background-color: #30b868;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.sec-btn {
  padding: 12px 16px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
}

.color-green {
  color: #30b868;
}

main h1 {
  color: #001931;
}
main p {
  color: #627382;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}
header section {
  background: url("./img/hero-bg.png");
  background-size: cover;
  padding: 70px 0 130px;
}

.hero-sec {
  text-align: center;
  color: white;
  margin-bottom: 120px;
}

.hero-sec .dot-box {
  padding: 8px 12px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  border-radius: 20px;
  background: white;
  color: black;
  margin-bottom: 16px;
}

.hero-sec h1 {
  font-size: 72px;
  color: white;
  margin-bottom: 16px;
}

.hero-sec p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 32px;
}

.note-sec {
  text-align: center;
  padding: 16px;
}

.note-sec h1 {
  font-size: 48px;
  margin: 16px 0;
}

.note-box {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 44px 0;
}

.note-item {
  max-width: 322px;
  padding: 69.5px 24px;
  display: flex;
  gap: 16px;
  align-items: center;
  flex-direction: column;
  background-color: rgb(253, 237, 215);
  border-radius: 10px;
}
.icon-box {
  max-width: 60px;
  padding: 14px;
  background: #f95555;
  border-radius: 50%;
}


/* Brand Sec */

.brand-sec{

  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 120px;

}

.brand-sec h3{
  text-transform: uppercase;
  color: #30b868;
  margin-bottom: 16px;
}
.brand-sec h1{
  font-size: 48px;
  margin-bottom: 16px;
}

.check-div{
  margin-top: 40px;
}

.check-line{
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}